<mat-list role="list">
   
    <div class="profile-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRizEfEH9NsvDQDD2gpErGWCHsBm388p3c70w&usqp=CAU" alt="no image">
         <h2>Admin</h2>
         <h4>admin@gmail.com</h4>
    </div>
    
    <mat-divider></mat-divider>
    <h4>Pages</h4>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Institution</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Students</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Placements</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Cources</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Employees</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Statistics</a>

  </mat-list>
  